
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="text-danger">Acesso não Permitido</h2>
<a href="/AreaRestrita/Index" class="btn btn-danger">Voltar</a>
<div><img src="~/imagens/Screenshot_2.jpg" /></div>

