
@{    
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Sejam Bem Vindos ao Nosso Sistema! </h4>
<hr />

<p>
    Escolha a opção desejada:    
</p>

<ul>
    <li> <a href="/Account/Login"> Autenticar Usuário</a> </li>
    <li> <a href="/Account/Register"> Criar Conta de Usuário</a> </li>
</ul>
