
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Seja bem vindo ao Sistema</h2>
<hr />

<p>
    Escolha a ação desejada:
</p>

<ul>
    <li> <a href="/AreaRestrita/MinhaConta"> Ver Minha Conta de Usuário</a> </li>
    @if(User.IsInRole("Pessoa Jurídica"))
    {
    <li> <a href="/AreaRestrita/Usuarios"> Consultar Usuários do Sistema</a> </li>
    }
</ul>